<component name="libraryTable">
  <library name="spring-core-2.5.6">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-13/filestore/org.springframework/spring-core/2.5.6/jar/c450bc49099430e13d21548d1e3d1a564b7e35e9/spring-core-2.5.6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-13/filestore/org.springframework/spring-core/2.5.6/source/7e4b11a203e01c84190ae4462398638457b098fc/spring-core-2.5.6-sources.jar!/" />
    </SOURCES>
  </library>
</component>